@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #192440;
    --secondary-color: #00ffad;
    --tertiary-color: #292b2c;
    --quaternary-color: #ffffff;
}

html {
    font-size: 10px;
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

/* Write your code below */
#banner{

 padding: 6.4rem 0rem ; 
margin-bottom: 20px;
background-image: url(images/banner-bg-image.jpg);
background-size: cover;
}

header{
display: flex;
align-items: center;
justify-content: space-between;
}

#banner header img{

    max-width: 80px;
}

#banner header a{

    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 2rem;
}
 #banner .font-weight-bold{
    color: var(--quaternary-color);
}
 #banner .font-weight-light{
    color: var(--quaternary-color);
    padding: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    
}

#banner button{
background-color: var(--secondary-color);
height: 50px;
width: 150px;
border-radius: 9999px;
border: none;
font-size: 1.7rem;
color: var(--primary-color);
margin-bottom: 30px;
cursor: pointer;

}

.protection  {
  text-align: center
  ;
}
.protection  h2{
    margin-top: 30px;
    text-align: center;
}

 .protection .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
    gap: 4rem;
}
 .cards .card{
  flex: 1;
  justify-content: center;

  } 
  .card h4 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.card p{
    text-align: center;
}

.features{

background:linear-gradient(  -20deg,  var(--secondary-color)57% , white 43% ) ;

}

.features .feature  {
  display: flex;
    margin-top:70px ;
    padding: 15px;

}
.features button{

    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    margin-top: 25px;
    color: var(--quaternary-color);
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 9999px;
    border: none;
}
.feature-1 img{
    align-self: flex-end;
}

.feature-2 img{

    align-self: flex-start;
}

.pricing h2{

    text-align: center;
    margin: 3rem 0rem;
}
.pricing .cards{
    display: flex;
    justify-content: center;
}
.pricing .card{
background-color: gray;
margin: 3rem;
height:45rem;
width: 30rem;
padding: 3rem;
line-height: 5rem;

}
 .pricing .dark{
    background-color: var(--primary-color);
    color: var(--quaternary-color);
 }

.pricing .card h4{
  text-align: center;

}
.pricing .card .font-weight-bold{
  font-size: 4rem;
  font-weight: bold;
}

.pricing .card  .btn {
  background-color: var(--secondary-color);
  height: 50px;
  width: 150px;
  border-radius: 9999px;
  border: none;
  font-size: 1.7rem;
  color: var(--primary-color);
  margin-bottom: 30px;
  cursor: pointer;


}

.container.partners {
display: flex;
justify-content: space-between;
padding: 30px;

}

#contact{
background-image: url(./images/contact-bg-image.jpg);
margin: 15px 0;
background-size: cover;

}
#contact .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 25px;
  padding-right: 25px;
  gap: 30px;
}

.contact-info{

  color: var(--quaternary-color);
  margin-top: 50px;
  
}

.list-unstyled{

  margin: 50px 0;
  list-style: none;
  line-height: 30px;
  
}

.contact-form{

  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--secondary-color);
}

.first-row{
  display: flex;
  gap: 15px;
}

.form-group{
  display: flex;
  flex-direction: column;
}
 input, textarea{
  border:1px solid var(--secondary-color);
  background-color: transparent;
  outline: none;
  color: var(--quaternary-color);
  padding: 0.8rem 1.2rem;
}
.contact-form, .contact-info{
  flex-grow: 1;
}
.first-row .form-group{
  flex-grow: 1;
}
/* Write your code above */

h1 {
    font-size: 7.2rem;
    margin: 4.8rem 0;
    line-height: 1.1;
}

h2 {
    font-size: 4.5rem;
}

p, li, label {
    font-size: 1.6rem;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-light {
    font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}